[Desktop Entry]
Name=A Simple Autoclicker
Comment=Repeat mouse clicks or keyboard keys
Exec=a-simple-autoclicker
Icon=input-mouse
Terminal=false
Type=Application
Categories=Utility;Accessibility;
StartupNotify=true
StartupWMClass=com.asimpleautoclicker.App
